<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <p class="form-control" > 
        nome utente: <input type="text" [(ngModel)]="username" placeholder="nome utente">
    </p>
    <p class="form-control">
        password: <input type="password" [(ngModel)]="password" placeholder="password">
    </p>
    <button routerLink="{{nome}}" (click)="abilita()" class="btn btn-primary">
        {{testoBottone}}
    </button>
</body>
</html>
