<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
<table>
<thead>
    <th >id</th>
    <th >studente</th>
    <th >voti</th>
</thead>
<tbody *ngFor="let studente of servizio.elencoStudenti; let i = index">
    <td class=>{{studente.id}}</td>
    <button (click)="selezione(i)" routerLink="/alunno"><td>{{studente.nome}} {{studente.cognome}}<br>{{studente.nascita}}</td></button>
    <td ><span *ngFor="let x of studente.voti" >{{x}} | </span>
        <select [(ngModel)] = selettore[i]>

        <option *ngFor="let i of votii">{{i}}</option>

      </select><button type="button" *ngIf="selettore[i] != null" (click)="addVoto(i)">+</button></td>
</tbody>
</table>
</body>
</html>
